cloudinary>=1.45.0
fastapi>=0.110.0
uvicorn
fitz==0.0.1.dev2
groq>=1.5.0

langchain-core>=0.3.0
langchain-community
langchain-chroma
langchain-groq
langchain-huggingface
langchain-text-splitters

openai>=1.40.0

passlib[bcrypt]
protobuf>=4.25.0
pydantic>=2.7.0
pymongo>=4.8.0
python-dotenv>=1.0.0
python-jose>=3.3.0
requests>=2.31.0